# Configurations for hopper fuzzer

# Full path for header file
TEST_HEADER=vpx_all.h

# Full path to shared library
TEST_LIBRARY=/data/workspace/fuzzing_bench/libvpx/build/hopper_build/libvpx.so.7.0.0

# Output directory
OUT_DIR=output

# Set map size for branch counting
HOPPER_MAP_SIZE_POW2=18

# Set dictionary for bytes
HOPPER_DICT=./vpx.dict

# Set the header include path
HOPPER_INCLUDE_SEARCH_PATH=/data/workspace/fuzzing_bench/libvpx/build/hopper_build
