# Configurations for hopper fuzzer

LIB_DIR=/data/workspace/fuzzing_bench/lcms/build/hopper_build

# Full path for header file
TEST_HEADER=${LIB_DIR}/include/lcms2.h

# Full path to shared library
TEST_LIBRARY=${LIB_DIR}/src/.libs/liblcms2.so

# Output directory
OUT_DIR=output

# Custom rule for invoking API functions
CUSTOM_RULES=custom.rule

# Set map size for branch counting
HOPPER_MAP_SIZE_POW2=18

# Disable API-sensitive
HOPPER_API_INSENSITIVE_COV=1

# Disable fast loop for execution
HOPPER_FAST_EXECUTE_LOOP=1

# Set seeds for hopper
# HOPPER_SEED_DIR=seeds
