# Configurations for hopper fuzzer

# Full path for header file
TEST_HEADER=/data/workspace/fuzzing_bench/re2/cre2.h

# Full path to shared library
TEST_LIB_DIR=/data/workspace/fuzzing_bench/re2/build/hopper_build/
TEST_LIBRARY=${TEST_LIB_DIR}/cre2/lib/libcre2.so ${TEST_LIB_DIR}/lib/libre2.so

# Output directory
OUT_DIR=output

# Custom rule for invoking API functions
CUSTOM_RULES=custom.rule

# set map size for branch counting
HOPPER_MAP_SIZE_POW2=20

# set seeds for hopper
# HOPPER_SEED_DIR=seeds

# target library
HOPPER_TEST_LIBRARY=cre2/lib/libre2.so

HOPPER_CUSTOM_RULES=$SRC_DIR/../custom_rule
