# Configurations for hopper fuzzer

# Full path for header file
TEST_HEADER=$(echo '#include "zlib.h"' | cpp -H -o /dev/null 2>&1 | head -n1 | cut -d ' ' -f 2)

# Full path to shared library
TEST_LIBRARY=$(ldconfig -p | grep -Po 'libz.so.*=>\s*\K.+' | head -n 1)

# Output directory
OUT_DIR=output

# Custom rule for invoking API functions
CUSTOM_RULES=custom.rule

# set map size for branch counting
HOPPER_MAP_SIZE_POW2=18

# set seeds for hopper
# HOPPER_SEED_DIR=seeds
