# Configurations for hopper fuzzer

# Full path for header file
#$(echo '#include "pcre2posix.h"' | cpp -H -o /dev/null 2>&1 | head -n1 | cut -d ' ' -f 2)
TEST_HEADER= /usr/include/pcre2posix.h

# Full path to shared library
#$(ldconfig -p | grep -Po 'libpcre2-posix.so.*>\s*\K.+' | head -n 1) 
TEST_LIBRARY=/lib64/libpcre2-posix.so /usr/lib64/libpcre2-8.so

# Output directory
OUT_DIR=output

# Custom rule for invoking API functions
CUSTOM_RULES=custom.rule

# set map size for branch counting
HOPPER_MAP_SIZE_POW2=18

# set seeds for hopper
# HOPPER_SEED_DIR=seeds
